/* 2.5) Подключение шрифтов: локальный, с Google Fonts, и веб-безопасный */
@font-face {
    font-family: 'localFont';
    src: url('fonts/comfortaa.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


/* 2.2) Работа с блоками: атрибуты background, border, margin, padding */
body {
    background: linear-gradient(to right, #3F002E, #9F4887);
    margin: 10px;
    font-family: 'localFont', 'Roboto', sans-serif;
    align-items: center;
}

/* Для содержания */


/* Контейнер для ВСЕГО блкоа сортировки */
.sortingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Класс, где хранится контейнер баров */
.visualization {
    width: 100%;
    display: flex;
    justify-content: center; /* Центрируем бары по горизонтали */
}

/* А вот сбствн контейнер для баров */
#bars {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

/* Стили для баров */
.bar {
    display: flex;
    width: calc((100% / 25) - 2 * 1px); /* Высчитываем длину баров чтобы сайт динамичным был и не шакалился на телефоне */
    height: 0px; /* Высота будет меняться в скрипте */
    margin: 1px; /* Отступ  */
    background-color: #ffffff;
    transition: transform 0.5s;
}

.sortImages{
    float: right;
    width: 274px;
}

.inSiteLinks{
    display: flex;
    justify-content: center;
    color: #00fff2;
    stroke-width: 2px;
    stroke: #2f0f65;
}


.padding {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 200px; 
}

.hoverImg {
    width: 200px;
    height: auto;
    border: none;
}

.content {
    margin-top: -60px;
    padding: 20px;
    background: radial-gradient(circle, #140025, #66279C);
    border: 1px solid #ffe800;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgb(255, 221, 0);
}

.square {
    font-size: 0.8em;
    vertical-align: super;
}

.sortingBlock {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: radial-gradient(circle, #140025, #66279C);
    border: 1px solid #ff0062;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgb(255, 221, 0);
    max-width: 1000px;
}

/* 2.4) Использование наследования и каскадирования: стили для тегов */
h1, h2, h3, h4, h5 {
    color: #ffffff;
    margin-bottom: 15px;
}


p {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #c78ef5;
}

/* 2.3) Селекторы для классов и тегов */
nav {
    background: radial-gradient(circle, #8dad2f, #5a7902);;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1024;
}

nav a {
    margin-right: 15px;
    font-weight: bold;
    color: #ffffff;
}

li {
    color: #ffffff;
}

/* 2.7) Фиксированное разворачивающееся меню */
.menu {
    position: fixed;
    top: 30px;
    right: 0;
    width: 25%;
    background-color: #333333;
    padding: 10px;
    display: none; /* ШТука, которая в js будет меняться */
}

.menu a {
    display: block;
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.menu a:hover {
    background-color: #9f287e;
}

/* Кнопка "Меню" */
.menu-button {
    display: block;
    position: fixed;
    top: 2px;
    right: 10px;
    background-color: #2f0f65;
    color: #ffffff;
    padding: 10px;
    border: #00438a;
    border-radius: 5px;
    cursor: pointer; /* Шоб курсор менялся на палец */
}

.controls {
    display: flex;
}

.controlButton {
    display: block;
    position: relative;
    background-color: #6e3ac0;
    color: #ffffff;
    padding: 10px;
    border: #00438a;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.controlButton:hover {
    background-color: #007BFF; /* Цвет кнопки при наведении */
}

.menu-button:hover {
    background-color: #00837c;
}

.menu-button.active + .menu {
    display: block; /* Меню показывается, когда кнопка активна */
}

/* Пример изображения */
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    margin-bottom: 20px;
}

/* Адаптивность меню для телефонов (768 стандартный порог) */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin-top: 5px;
        margin-right: 15px;
        font-weight: bold;
        color: #ffffff;
    }

    .video-container {
        position: relative;
        width: 100%;
        padding-bottom: calc((9 / 16) * 100%);
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .menu {
        position: fixed;
        top: calc(30 * 6px - 15px);
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .controls {
        display: block;
    }

    .padding{
        margin-top: 120px
    }
}
